.weatherBg1 {
  flex-direction: column;
  text-align: center;
  position: relative;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}
  
.weatherBg1::before {
  content: "";
  background: url("https://wallpapercave.com/wp/wp10154399.jpg");
  filter: blur(5px); 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-attachment: fixed; 
}
  
  
.title {
  color: white;
}
  
.searchPart {
  height: 30px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  background: white;
  border-radius: 30px;
  align-items: center;
  box-shadow: 0 10px 25px rgb(0, 0, 0, 0.3);
}
  
.searchPart:hover input {
  width: 400px;
}

.searchPart input {
  width: 0;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
}
.searchIcon {
  font-size: 20px;
  margin-right: 10px;/* Add some spacing between the icon and input */
}
  
.box {
  width: 500px;
  text-align: center;
  height: 500px;
  background-color: rgba(242, 247, 255, 0.3); 
  margin: auto; 
  position: absolute; 
  bottom: none; 
  left: 0; 
  right: 0;
  top: 65%;
  transform: translateY(-50%);
  border-radius: 5%;
  backdrop-filter: blur(10px); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
}

.icon {
  width: 100px;
  height: 100px; 
  margin-bottom: 3em;
}

.city, .temp {
  margin: 10px 0;
  font-size: 1.5rem;
}


.emptyCity {
  font-size: 1.2rem;
  color: gray;
  font-style: italic;
}


/* Media query*/
@media (max-width: 768px) {
  .searchPart {
    padding: 8px 16px;
    font-size: 14px;
  }
  
  .searchIcon {
    font-size: 18px;
    margin-right: 8px;
  }

  .box {
    width: 90%;
    max-width: 400px;
    height: auto;
    padding: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}
